@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  background-color: coral;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color: black;
  height: 50px;
  align-content: center;
}

.itemer > li{
  list-style-type: none;
}

li a{
  text-decoration: none;
}

a:hover{
  /* color: rgb(177, 182, 180); */
  text-decoration: underline;
}

.itemer{
  display: flex;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: Roboto;
  justify-content: center;
}

label{
  margin-left: 10px;
  margin-right: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  font-weight: bold;
}

input{
  margin: 20px 0;
  height: 30px;
}

button{
  padding: 5px;
  margin-left: 50px;
  border-radius: 30px;
  width: 100px;
  height: 40px;
}

button:hover{
  background-color: black;
  color: whitesmoke;
}

form{
  margin-left: 50px;
  align-content: center;
}